<h1 id="title">Parcs {{ title }}</h1>

<ul>
{%- for p in parc %}
{%- if p['GESTION'] === 'Ahuntsic-Cartierville' %}

<li>{{ p['Nom'] }}</li>

<ul>
{%- for i in parcInstallations.features %}
{%- if (i.properties.INDEX_PARC === p.NUM_INDEX) and i.properties.TYPE === type %}

<li class="{{ title | slug }}">{{ i.properties.NOM }}</li>

{% endif -%}
{% endfor -%}
</ul>

{% endif -%}
{% endfor -%}
</ul>