---
layout: base-layout
title: Parcs de Montréal
---
<nav>
    <ul>
        {% for arr in areaArray %}
        <li><a href="{{ '/' + (arr | slug) + '/liste-des-parcs/' | url }}">{{ arr }}</a></li>
        {% endfor %}
    </ul>
</nav>