---
layout: base-layout
title: Ahuntsic-Cartierville
---
<h1>Parcs {{ title }}</h1>
<ul>
{% for p in parc.result.records %}
{% if p['GESTION'] === 'Ahuntsic-Cartierville' %}
<li>
{{ p['Nom'] }}
</li>
{% endif %}
{% endfor %}
</ul>